*{
    margin: 0px;padding: 0px;box-sizing: border-box;
}

.header, .footer{
    font-size: 40px;
    text-align: center;
    background-color: #1b2631;
    color: white;
    padding: 5px;
    font-weight: bold;
    
}

.parent{
    height: 85.7vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3c5269;
}

.child{
    height: 40vh;
    width: 80.2%;
    /* display: flex;  */
    /* justify-content: center; */
    /* align-items: center;  */
    background-color: #3c5269;
}

.a{
    background-color: #e1b12c;
    color: black;
    font-size: 1.7rem;
}